#videos{
    width:100%;
    height:500px;
    border:none;
}
#atividades{
    width:100%;
    height:500px;
    border:none;
}
#Início{
    width:100%;
    height:500px;
    border:none;
}